<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="row">
                <div class="col-xs-5">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" ngModel required #name="ngModel">
                    <span *ngIf="!name.valid && name.touched">Enter an ingredient</span>
                </div>
                <div class="col-xs-2">
                    <label for="quantity">Qty</label>
                    <input type="number" id="quantity" class="form-control" ngModel name="quantity" 
                    required 
                    pattern="^[1-9]+[0-9]*$"
                    #qty="ngModel">
                    <span *ngIf="!qty.valid && qty.touched">Enter quantity</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{editMode ? 'Save':'Add'}}</button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()" [disabled]="!editMode">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>