<div class="col-xs-12">
  <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
    <button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">Save</button>
    <button class="btn btn-danger" type="button" (click)="onDeleteRecipe()" *ngIf="editMode">Delete</button>
    <button class="btn btn-default" type="button" (click)="onCancel()">Cancel</button>

    <div class="form-group">
      <label>
        Name
      </label>
      <input type="text" name="name" id="name" required class="form-control" formControlName="name">
      <span *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched">Please insert a name</span>
    </div>
    <div class="form-group">
      <label>
        Description
      </label>
      <textarea name="description" id="description" class="form-control" formControlName="description"></textarea>
      <span *ngIf="!recipeForm.get('description').valid && recipeForm.get('description').touched">Please insert a
        description</span>

    </div>
    <div class="form-group">
      <label>
        Link image
      </label>
      <input type="text" name="imagePath" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
      <img [src]="imagePath.value" class="img-responsive">
    </div>
    <div class="row">
      <div class="col-xs-12" formArrayName="ingredients">
        <label>
          Ingredients
        </label>
        <div class="row" *ngFor="let ingControl of getControl(); let i = index"
          [formGroupName]="i">
          <div class="col-xs-8">
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="col-xs-2">
            <input type="number" class="form-control" formControlName="quantity">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-danger" (click)="onDeleteIngredient(i)" type="button">
              X
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-success" (click)="onAdd()" type="button">
          Add ingredient
        </button>
      </div>
    </div>
  </form>
</div>