   <img src="assets/img/bg.jpg" alt="welcome" class="home-background">
   <h2 style="text-align:center; margin-top:-20%;">Welcome to ReciperBook</h2>
    <p  style="text-align:center">You can add and manage your recipes and your shopping list</p>
