.home-background{
    width: 120%;
    margin-left: -10%;
    margin-top: -5%;
}

  /* .home-body {
    position: fixed;
    min-width: 100%;
    background-image: url('/assets/img/bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    } */

/* 
img.welcome {
    background-image: url('/src/assets/img/bg.png');
    
} */