<a class="list-group-item clearfix" routerLinkActive="active" [routerLink]="['/recipes',index]">
    <div class="pull-left">
        <div class="col-xs-8">
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <div class="col-xs-4">

            <img src="{{recipe.imagePath}}" alt="" class="img-responsive" style="max-height:50px;">
        </div>
    </div>
</a>