<div class="row">
  <div class="col-xs-8" style="float: none !important;
    margin:0 auto;">
    <img src="assets/img/user.svg" alt="user" class="user">
    <form (ngSubmit)="onSignup()" #f="ngForm">
      <div class="form-group">
        <label>Mail</label>
        <input type="email" name="email" id="email" ngModel class="form-control" required email>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" id="password" ngModel class="form-control" required minlength="6">
      </div>
      <p>{{error}}</p>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign up</button>

    </form>
  </div>
</div>