<div class="row">
    <div class="col-md-5">
        <app-recipeList></app-recipeList>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
        <!-- <app-recipeDetail *ngIf="recipeSelected; else info"[recipeSelected]="recipeSelected">
        </app-recipeDetail> -->
    </div>
</div>