<nav class="navbar navbar-blue">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/">
                <img src="assets/img/logo.png" alt="RecipeBOOK" class="navbar-brand">
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping">Shopping</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!isAuthenticated()">


                </ng-template>

                <ng-template [ngIf]="isAuthenticated()">
                    <li><a (click)="onLogout()">Logout</a></li>
                </ng-template>
                <li class="dropdown" appDropdown>
                    <ng-template [ngIf]="!isAuthenticated()">
                        <a class="dropdown-toggle" role="button">
                            <i class="fa fa-user"></i>
                            <!-- User<span class="caret"></span> -->
                        </a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/signup">Sign Up</a></li>
                            <li><a routerLink="/signin">Sign In</a></li>
                        </ul>
                    </ng-template>
                </li>


                <li class="dropdown" appDropdown>
                    <ng-template [ngIf]="isAuthenticated()">

                        <a class="dropdown-toggle" role="button"><i class="fa fa-cog"></i> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a (click)="onSaveData()">Save Data</a></li>
                            <li><a (click)="onFetchData()">Fetch Data</a></li>
                        </ul>
                    </ng-template>
                </li>

            </ul>
        </div>
    </div>
</nav>