nav.navbar.navbar-blue{
    background-color: #5185C4;
    border-radius: 0;
}
img.navbar-brand{
    height:70px;
    
}
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 70px;
    color:white;
}
.navbar-nav>li>a:hover {
    color: #5185C4;
    background-color:white;
}
.navbar-nav>li:active {
    color: #5185C4;
    background-color:white;
}