<div class="row">
    <div class="col-xs-12">
        <img src="{{recipeSelected.imagePath}}" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{recipeSelected.name}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <ng-template [ngIf]="isAuthenticated()">
                <button class="btn btn-primary dropdown-toggle">
                    Manage recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="onAddToList()">To Shopping list</a></li>
                    <li><a [routerLink]="['/recipes',index,'edit']">Edit recipe</a></li>
                    <li><a (click)="onDelete()">Delete recipe</a></li>
                </ul>
            </ng-template>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{recipeSelected.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeSelected.ingredients">
                {{ingredient.name}} - {{ingredient.quantity}}

            </li>
        </ul>
    </div>
</div>