<div class="row">
    <div class="col-xs-12">
        <ng-template [ngIf]="isAuthenticated()">
            <button class="btn btn-success" [routerLink]="['/recipes','new']">New recipe</button>
        </ng-template>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-recipeItem *ngFor="let recipeEl of recipes; let i = index" [recipe]=recipeEl [index]=i></app-recipeItem>
    </div>
</div>