<div class="row">
    <div class="col-xs-12">
        <ng-template [ngIf]="isAuthenticated()">
            <app-shopping-listEdit></app-shopping-listEdit>
            <hr>
        </ng-template>
        <div *ngIf="!isAuthenticated()">
            <h5 style="text-align:center">This is your shopping list. Login to edit</h5>
        </div>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredients; let i = index"
                (click)="onClickEdit(i)">
                {{ingredient.name}} ({{ingredient.quantity}})
            </a>
        </ul>
    </div>
</div>